.container {
  width: 400px;
  padding: 14px 21px;
  border: 1px solid rgb(220, 220, 220);
}

.container header {
  margin-bottom: 14px;
  padding-top: 10px;
}

.container span {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 7px 0px 12px 0px;
  justify-content: space-between;
}

.container h1 {
  margin: 0;
  font-size: 19px;
  overflow: hidden;
  display: -webkit-box;
  /* -webkit-line-clamp: 1; */
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}

.container p {
  width: 100%;
  font-size: 16p;
  font-weight: 400;
  overflow: hidden;
  padding-left: 15px;
  line-height: 1rem;
  display: -webkit-box;
  /* -webkit-line-clamp: 3; */
	word-break: break-all;
  text-align-last: left;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}

.container div{
  display: flex;
  justify-content: flex-end;
  margin-top: -3px;
  margin-bottom: -5px;
}

.container h4 {
  width: 100%;
  font-size: 12px;
  font-weight: 500;
  padding-left: 15px;
  line-height: 1.5rem;
  text-align-last: left;
  margin: 0;
  padding-bottom: 5px;
}

.container h5 {
  width: 100%;
  font-size: 12px;
  font-weight: 100;
  text-align-last: left;
  margin: 0;
}

.container img {
  width: 30px;
  height: 30px;
  margin-right: 2px;
  margin-left: -2px;
  border-radius: 50%;
  background-color: var(--background);
}

.container .dateAndCalendar  {
  display: flex;
}
