.container {
  width: 400px;
  padding: 14px 21px;
  border: solid;
  border-width: .3px;
}

.container header {
  margin-bottom: 14px;
}

.container span {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 7px 0px 12px 0px;
  justify-content: space-between;
}



.container h1 {
  margin: 0;
  font-size: 19px;
  overflow: hidden;
  display: -webkit-box;
  /* -webkit-line-clamp: 1; */
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}

.container p {
  width: 100%;
  font-size: 16p;
  font-weight: 400;
  overflow: hidden;
  padding-left: 15px;
  line-height: 1rem;
  display: -webkit-box;
  /* -webkit-line-clamp: 3; */
	word-break: break-all;
  text-align-last: left;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}

.container div{
  display: flex;
  justify-content: flex-end;
  margin-bottom: -5px;
}

.container h4 {
  width: 100%;
  font-size: 17px;
  font-weight: 600;
  padding-left: 15px;
  line-height: 1.5rem;
  text-align-last: left;
}

.container h5 {
  width: 100%;
  font-size: 12px;
  font-weight: 100;
  padding-left: 15px;
  line-height: 1.5rem;
  text-align-last: left;
  margin-top: -5px;
  margin-bottom: -5;
}